/* MAIN SECTION */
.jumbotron {
    background-image: url("https://images.pexels.com/photos/373893/pexels-photo-373893.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    max-height: 100%;
    max-width: 100%;
    min-height: 100vh;
  }

  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }

#transparent {
    background-color: rgba(78, 1, 1, 0.4);
    padding: 4em 0 5em 0;
}

/* MENTORS */
img:hover {
  opacity: 0.5;
}

#mentor {
  text-align: center;
}




/* CREATE MENTOR */
#create {
  background: rgb(134, 134, 134);
  display: grid;
  text-align: center;

}



/* FOOTER */
  
  footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }  