/* BANNER */

#banner {
    background-image: url("https://images.pexels.com/photos/373893/pexels-photo-373893.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
    display: grid;
    max-height: 100%;
    max-width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.1);
}

#banner .content {
    text-align: center;
    padding: 15em 0 3.5em 0;
}

#transparent {
    background-color: rgba(78, 1, 1, 0.4);
    padding: 4em 0 5em 0;
}

#banner .content h2 {
    color: #fff;
    font-size: 2.75em;
    margin: 0 0 0.5em 0;
}

#banner .content p {
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.35em;
    margin: 0 0 1.25em 0;
}

#banner .content .button {
    -moz-transition: border-color .2s ease-in-out, color .2s ease-in-out;
    -webkit-transition: border-color .2s ease-in-out, color .2s ease-in-out;
    -ms-transition: border-color .2s ease-in-out, color .2s ease-in-out;
    transition: border-color .2s ease-in-out, color .2s ease-in-out;
    color: #ffffff;
    background: transparent !important;
    border: solid 4px #000000;
    border-color: rgba(0, 0, 0, 0.623);
    font-size: 1.5em;
    display: inline;
    margin-right: 1em;
}

#banner .content .button:hover {
    color: #e4e7e5;
    border-color: rgba(87, 93, 89, 0.75);
}

#banner .content .button:active {
    color: #fff;
    border-color: #616763;
}

/* ABOUT */

#about {
    background: rgb(134, 134, 134);
    display: grid;
    max-height: 100%;
    max-width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.1);
    text-align: center;
    padding: 15em 0 3.5em 0;
}

/* MENTORS */
#mentor {
    background: rgb(255, 255, 255);
    display: grid;
    max-height: 100%;
    max-width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.1);
    text-align: center;
    padding: 15em 0 3.5em 0;
}

.container {
    margin: 0 auto;
    max-width: calc(100% - 4em);
    width: 70em;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
    height: 150px;
    object-fit: cover;
}

img:hover {
    opacity: 0.5;
}

#mentor-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 40px;
    grid-row-gap: 30px;
    padding: 0 4px;
    grid-gap: 50px;
}


/* CREATE MENTOR */ 
#create {
    background: rgb(134, 134, 134);
    display: grid;
    max-height: 100%;
    max-width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.1);
    text-align: center;
    padding: 15em 0 3.5em 0;
}